@charset "utf-8";

/* ==============================
comment
============================== */

/* ----- comment ----- */

/* comment */


/* アニメーションの試し書き ============================== */

/* animation ://ショートハンドの場合の書き順とデフォルト値。
  animation-name は none,
  animation-duration は 0,            //一回分の時間の長さ
  animation-timing-function は ease,  //タイミング・進行割合
  animation-delay は 0,               //いつ始まるか
  animation-iteration-count は 1,     //繰り返し回数
  animation-direction は normal       //交互に反転再生するか否か
  ;
*/

.anime-test{
  color: #fe9999;
  width: 100%;
  height: 100px;
  position: relative;
}

.anime_01:before{
  content: " ";
  width: 1em;
  height: 1em;
  position: absolute;
  animation-name: a01;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-duration: alternate;
}

@keyframes a01 {
  0% {
    content: "★";
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }
  30% {
    top: 50%;
    transform: rotate(360deg);
  }
  60% {
    left: 50%;
    transform: rotate(0deg);
  }
  100% {
    content: "◆";
    color: #9999fe;
    top: 100px;
    left: 100%;
    transform: rotate(360deg);
  }
}//@keyframes

/* 試し書き ============================== */
.a{
  color: #a00;
  @media (min-width: 480px) {
    background-color: #a00;
    .media{
      text-align: center;
    }
    @at-root .aaaa{/* at-rootのみ */
      display: block;
    }
    @at-root (without: media) {
      .aaaa{/* without media */
        display: block;
      }
    }
    @at-root (without: all) {
      .aaaa{/* without all */
        display: block;
      }
    }
    @at-root (without: rule) {
      .aaaa{/* without rule */
        display: block;
      }
    }
  }//@media
  @at-root .aa{
    color: #aa0;
    .aaa{
      color: #aaa;
    }
  }
  .b{
    color: #b00;
    @at-root .bb{
      color: #bb0;
    }
    .c{
      color: #c00;
      @at-root & .cc{
        color: #cc0;
      }
      #{&}-d{
        color: #d00;
        @at-root .dd{
          color: #dd0;
        }
      }//.ddd
    }//.ccc
  }//.bbb
}//.aaa

//@debug 10px + 20px;
//@warn "自作エラーメッセージ";

.test{
  @extend tekitou !optional;
}

// サンプル用のミックスイン
@mixin sample-mixin() {
    /* ... */
}

@function sum($a: 0, $b: 0) {
    @return $a + $b;
}
.sample {
    margin: sum(1px, 2px);  //-> 3px
}
