@charset "utf-8";

//@import "vendor/_sanitize.scss";//reset css
//@import "vendor/_normalize.scss";//reset css
//reset original
img{
  max-width: 100%;
}

@import "modules/_var.scss", "modules/_mixin.scss",  "modules/_placeholder.scss";

//* 試し書き ============================== */
@import "partials/_test_style.scss";
// style.scss
//
// markUp:
// <p class="test1">テキスト赤</p>
// <p class="test2">テキスト黒</p>
//
// Styleguide 2.0.0

.test1{
  color: yellow;
}
.test2{
  color: brown;
}
