@charset "utf-8";

// /* メモ編集途中。
// variable.scss内の記述順を簡単にまとめたいな。

// Number型	数値（単位含む）
// String型	文字列
// Colors型	色（カラーコード）
// Boolean型	真偽値
// Null型	空の値
// List型	配列
// Map型	連想配列

// */

// 変数

$main-col: #ffffff;
$sub-col: #eeeeee;
$txt-col-base: #333333;
